<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button color="test"></ion-menu-button>
    </ion-buttons>
    <ion-title>Numisma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- header with image !-->
  <header>
    <!-- <img src="./assets/component.png" alt="" /> -->
  </header>
  <ion-item id="search_bar">
    <ion-searchbar placeholder="Pesquisar..." animated="true"></ion-searchbar>
    <ion-icon id="filters" name="filter-sharp"></ion-icon>
  </ion-item>
  <ion-grid>
    <ion-row *ngFor="let moeda of moedas">
      <ion-card (click)="verDetalherMoeda(moeda)">
        <ion-item style="background-color: aliceblue">
          <!-- <img src="./assets/{{moeda.imagem}}" /> -->
          <ion-row id="row_into_card">
            <ion-card-title>{{ moeda.NomeColecionador }}</ion-card-title>
            <ng-container
              *ngIf="moeda.Preco; then price; else type_transaction"
            ></ng-container>
            <ng-template #price>
              <ion-card-subtitle>{{ moeda.Preco }}€</ion-card-subtitle>
            </ng-template>
            <ng-template #type_transaction>
              <ion-card-subtitle>{{ moeda.TipoTransacao }}</ion-card-subtitle>
            </ng-template>
            <ion-card-content>
              <ion-item>
                <ion-icon name="location-sharp"></ion-icon>
                {{ moeda.Localidade }}</ion-item
              >
              <ion-item>
                <ion-icon name="person-circle-sharp"></ion-icon>
                {{ moeda.UserColecionador }}
              </ion-item>
            </ion-card-content>
          </ion-row>
        </ion-item>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
